// background palette
$background-light: #FEFEFE;
$background-dark: #1F1F1F;

// theme toggle palette
$pill-background-light: #E8E8E8;
$pill-background-dark: #585757;
$toggle-light: #F98600;
$toggle-dark: #E8E8E8;
$sun-color: #F98600;
$moon-color: #E8E8E8;

// text palette
$text-light: #585757;
$text-dark: #FFFFFF;
$blue-player-light: #0085FF;
$blue-player-dark: 1560BD;
$red-player-light: #E92C2C;
$red-player-dark: #B90E0A;

// grid color palette
$grid-light: #F98600;
$grid-dark: #FF9F2D;
$box-light: #C8C8C8e6;
$box-dark: #ffffffe6;
$blue-player-box-light: #0085FF;
$blue-player-box-dark: #1560BD;
$red-player-box-light: #E92C2C;
$red-player-box-dark: #B90E0A;
$tie-box-light: #9E9E9E;
$tie-box-dark: #626262;
$opacity-light: 0.25;
$opacity-dark: 0.4;