@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-font-family: 'Nunito', sans-serif;

// font sizes
$supertitle-font-size: 1.8rem;
$title-font-size: 1.4rem;
$para-font-size: 1rem;
$subtitle-font-size: 0.8rem;
$subscript-font-size: 0.7rem;

// font weights
$superlight-weight: 200;
$light-weight: 300;
$regular-weight: 400;
$semi-bold-weight: 500;
$bold-weight: 600;