.MainGrid {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 50rem;

    .widthWarning {
        display: none;
    }

    .mainGridSections {
        animation: mainGridEntry 0.8s ease-in forwards ;
        
        .playerTurn {
            width: 100%;
            text-align: center;
            font-size: $supertitle-font-size;
            font-weight: $bold-weight;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            #gameTie {
                color: $tie-box-light;
                transition: $main-transition;
            }
            #blueTurn {
                color: $blue-player-light;
                transition: $main-transition;
            }
            #redTurn {
                color: $red-player-light;
                transition: $main-transition;
            }
        }

        .replayBtn {
            margin: 0 0.5rem;
            color: $text-light;
            font-size: $supertitle-font-size;
            transition: $main-transition;
            cursor: pointer;

            &:hover {
                color: $sun-color;
                filter: drop-shadow(0 0 10px $sun-color);
            }
        }
        
        .playerTurn.darkTheme {
            #gameTie {
                color: $tie-box-dark;
            }
            #blueTurn {
                color: $blue-player-dark;
            }
            #redTurn {
                color: $red-player-dark;
            }

            .replayBtn {
                color: $text-dark;
    
                &:hover {
                    color: $text-light;
                    filter: drop-shadow(0 0 10px $text-light)
                }
            }
        }
        
        .playZone {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .mainRow {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: calc((100%/3));
            }

            .gridLine {
                position: absolute;
                background-color: $grid-light;
                transition: $main-transition;
            }
            .verticalLine {
                width: 5px;
                height: 100%;
            }
            .horizontalLine {
                width: 100%;
                height: 5px;
            }
            #vertical1 {
                left: calc((100% / 3) - 2.5px);
            }
            #vertical2 {
                left: calc((100% / 3 * 2) - 2.5px);
            }
            #horizontal1 {
                top: calc((100% / 3) - 2.5px);
            }
            #horizontal2 {
                top: calc((100% / 3 * 2) - 2.5px);
            }
        
            .gridLine.darkTheme {
                background-color: $grid-dark;
            }
        }
    }
}

.toastContainer {
    position: absolute;
}

@keyframes mainGridEntry {
    from {
        opacity: 0%;
    }
    to {
        opacity: 1000%;
    }
}

@media all and (max-width: 900px){
    .MainGrid{
        width: 30rem;
        height: 30rem;

        .mainGridSections {
            .playZone {
                .verticalLine {
                    width: 3px;
                }
                .horizontalLine {
                    height: 3px;
                }
            }
        }
    }
}

@media all and (max-width: 650px){
    .MainGrid{
        .widthWarning {
            display: block;
            width: auto;
            text-align: center;
            font-size: $supertitle-font-size;
        }
        .mainGridSections {
            display: none;
        }   
    }
    
}