.Footer {
    position: fixed;
    z-index: 50;
    bottom: 0%;
    width: calc(100vw - 2*$main-padding);
    text-align: center;
    padding: $main-padding;
    color: $text-light;
    transition: $main-transition;
}

.Footer.darkTheme {
    color: $text-dark;
}