.Header {
    position: fixed;
    z-index: 50;
    width: calc(100% - 2*$main-padding);
    padding: $main-padding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        font-size: $title-font-size;
        font-weight: $bold-weight;
        color: $text-light;
        transition: $main-transition;
    }
    .header-logo.darkTheme {
        color: $text-dark;
    }

    .theme-toggle-pill {
        width: 70px;
        height: 35px;
        border-radius: 35px;
        background: $pill-background-light;
        position: relative;
        transition: $main-transition;

        .sun-moon-icons {
            position: absolute;
            width: inherit;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;

            .theme-toggle-sun {
                width: 20px;
                height: 20px;
                margin: 5px;

                svg {
                    fill: $sun-color;
                }
            }
    
            .theme-toggle-moon {
                width: 20px;
                height: 20px;
                margin: 5px;

                svg {
                    fill: $moon-color;
                }
            }
        }

        .theme-toggle-switch {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 7%;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: $toggle-light;
            transition: $main-transition;
        }
        .theme-toggle-switch.darkTheme {
            right: 53%;
            background-color: $toggle-dark;
        }
    }
    .theme-toggle-pill.darkTheme {
        background: $pill-background-dark;
    }
}