.Main {
    .background {
        position: fixed;
        z-index: -500;
        width: 100%;
        height: 100%;

        background-color: $background-light;
        transition: $main-transition;
    }

    .background.darkTheme {
        background-color: $background-dark;
    }
}

